* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #29292c;
}
header {
    border-bottom: 1px solid rgba(184, 184, 184, 30%);
    /* padding: 7px 20px 7px 30px; */
    position: fixed;
    background-color: white;
    padding-bottom: 8px;
    padding-top: 4px;
    height: 53px;
}
.tblogo {
    width: 190px;
    vertical-align:middle;
    padding: 1px 2px;
    transition: border 0.15s;
}
.tblogo:active {
    border: 3px solid rgb(200, 9, 9);
}
div {
    display: inline-block;
}
.div2 {
    text-align: right;
    width: 760px;
    vertical-align: middle;
    padding-top: 7px;
}
.div1 {
    width: 490px;
    vertical-align: top;
    margin-left: 20px;
}
button {
    border: none;
    font-size: 16px;
    margin-right: 18px;
    background-color: white;
    padding: 6px 2px;
}                                                                   
button:hover {
    color: rgb(200, 9, 9);
    cursor:pointer
}
button:active {
    border: 2px solid rgb(200, 9, 9);
}
.search {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    vertical-align: middle;
}
.help {
    color: white;
    background-color: rgba(219, 7, 7, 0.8);
    padding: 13px 20px;
    font-weight: 600;
}
.help:hover {
    color: white;
    opacity: 0.9;
}
img:hover {
    color: red;
    cursor: pointer;
}
h2:hover {
    color: rgb(185, 2, 2);
}
h1 {
    /* width: 500px; */
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
    line-height: 60px;
    font-weight: 600;
}
h3 {
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 35px;
}
h2 {
    line-height: 60px;
    font-size: 23px;
}
.div3 {
    width: 600px;
    margin-left: 370px;
    text-align: center;
    padding-top: 70px;
}
.div4 {
    margin-left: 425px;
    text-align: center;
    width: 500px;
}
.div5 {
    margin-left: 300px;
    text-align: left;
    width:650px;
    padding-bottom: 50px;
    margin-top: 10px;
    padding-top: 7px;
}
.div6 {
    color: rgb(189, 6, 6);
    margin-left: 550px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
}
a {
    color: rgb(213, 6, 6);
    text-decoration: none;
    margin-bottom: 20px;
}
.div7 {
    border: 1px solid rgba(172, 168, 168, 30%);
    line-height: 10px;
    padding: 30px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 80px;
    margin-top: 40px;
}
.div8 {
    text-align: left;
    padding-left: 0;
    width: 390px;
}
span {
    color: red;
    text-decoration: underline;
}
.spana {
    color: rgb(194, 6, 6);
    text-decoration: underline;
    cursor: pointer;
}
.spanb {
    color: rgb(91, 89, 89);
    text-decoration: underline 3px rgb(191, 187, 187);
    cursor: pointer;
}
.spanb:hover {
    color: rgb(210, 4, 4);
    text-decoration: underline 3px rgb(210, 4, 4);
}
.span2 {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
.span3 {
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    color: grey;
}
.span4 {
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;
    color: rgb(210, 6, 6);
}
.span5 {
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    margin-right: 10px;
    color: white;
    background-color: rgb(76, 76, 240);
    padding: 4px;
}
.span6 {
    color: black;
    text-decoration: none;
}
.p1 {
    margin-bottom: 13px;
    display: inline-block;
    margin-right: 15px;
}
.p2 {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}
.p3 {
    margin-left: 90px;
    margin-top: 55px;
    font-size: 17px;
    padding-bottom: 20px;
    color: rgb(91, 89, 89);
}
.p4 {
    display:inline-block;
}
.subscribe {
    border: none;
    background-color: rgb(210, 8, 8);
    color: white;
    margin-left: -6px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 28px;
}
.subscribe:hover {
    color: white;
    opacity: 0.9;
}
input {
    padding: 8px 170px 8px 2px;
    font-size: 18px;
    font-weight: 700;
}
::placeholder {
    font-size: 18px;
    font-weight: 700;  
    color: rgba(178, 173, 173, 0.827);
    padding-left: 8px;
}
footer {
    padding: 65px 7px;
    background-color: rgba(236, 232, 232, 50%);
}
.butt1 {
    font-size: 18px;
    text-decoration: underline 3px rgb(191, 187, 187);
    margin-left: 0;
    margin-bottom: 20px;
    color: black;
    margin-bottom: 16px;
}
.butt1:hover {
    color: rgb(192, 9, 9);
    text-decoration: underline 3px rgb(192, 9, 9);
}