@media (max-width: 600px) {
    header {
    display: grid;
    grid-template-columns: 130px auto;
}
.div1 {
    margin-left: 5px;
}
.tblogo {
    width: 130px;
    padding: 6px 2px;
}
button {
    font-size: 11px;
    margin-right: 9px;
    background-color: white;
} 
.div2 {
    padding: 0 10px;
}
.search {
    margin-right: 10px;
} 
.help {
    padding: 2px 5px;
    font-weight: 600;
    font-size: 12px;
}
h1 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
}  
h2 {
    line-height: 50px;
    font-size: 18px;
}
.div3 {
    width: 400px;
    padding-top: 60px;
}
.div4 {
    width: 300px;
}
.div5 {
    width:400px;
    padding-bottom: 30px;
}
.div6 {
    padding-bottom: 10px;
    margin-top: 10px;
}
.div7 {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.p2 {
    font-size: 14px;
    margin-bottom: 2px;
}
input {
    padding: 8.5px 28px 8.5px 2px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(178, 173, 173, 0.827);
}
.subscribe {
    border: none;
    background-color: rgb(210, 8, 8);
    color: white;
    margin-left: -6px;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 18px;
}
.butt1 {
    font-size: 12px;
    text-decoration: underline 2px rgb(191, 187, 187);
    margin-bottom: 10px;
}
footer {
    padding: 15px 5px;
    margin-top: -10px;
}
.footerb .p3{
    font-size: 12px;
    text-align: center;
}
.footera {
    padding: 2px 5px;
}
.div8 {
    line-height: 25px;
}
}
@media (min-width: 601px) and (max-width: 950px) {
    header {
    display: grid;
    grid-template-columns: 200px auto;
}
.tblogo {
    width: 170px;
    padding: 6px 2px;
}
button {
    font-size: 14px;
    margin-right: 13px;
} 
.search {
    margin-right: 20px;
}  
h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}  
h2 {
    line-height: 50px;
    font-size: 20px;
}
.div3 {
    width: 450px;
    padding-top: 60px;
}
.div4 {
    width: 350px;
}
.div5 {
    width:500px;
    padding-bottom: 40px;
}
} 
